*.la
*.lo
.deps
.libs
Makefile
Makefile.in
alloca.h
arpa_inet.h
float.h
netinet_in.h
poll.h
stdbool.h
stdint.h
stdio-impl.h
stdio.h
stdlib.h
string.h
sys_select.h
sys_socket.h
sys_stat.h
sys_time.h
unistd.h
wchar.h
