*#*#
*.#*#
*.a
*.exe
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.orig
*.rej
*~
.git
.git-module-status
.lvimrc
.sc-start-sc_*
/ABOUT-NLS
/COPYING
/ChangeLog
/GNUmakefile
/INSTALL
/NEWS
/aclocal.m4
/autom4te.cache
/build-aux
/build-aux/
/build/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/configure.lineno
/daemon/*_dispatch.h
/docs/hvsupport.html.in
/docs/libvirt-qemu-*.xml
/gnulib/lib/*
/gnulib/m4/*
/gnulib/tests/*
/libtool
/libvirt-*.tar.gz
/libvirt-[0-9]*
/libvirt.pc
/libvirt.spec
/ltconfig
/ltmain.sh
/m4/*
/maint.mk
/mingw32-libvirt.spec
/mkinstalldirs
/po/*
/proxy/
/python/generator.py.stamp
/python/libvirt-qemu-export.c
/python/libvirt-qemu.[ch]
/python/libvirt_qemu.py
/sc_*
/src/hyperv/*.generated.*
/src/libvirt_iohelper
/src/locking/qemu-sanlock.conf
/src/remote/*_client_bodies.h
/src/remote/*_protocol.[ch]
/src/rpc/virkeepaliveprotocol.[ch]
/src/rpc/virnetprotocol.[ch]
/src/util/virkeymaps.h
/tests/*.log
/tests/cputest
/tests/domainsnapshotxml2xmltest
/tests/hashtest
/tests/jsontest
/tests/networkxml2argvtest
/tests/nwfilterxml2xmltest
/tests/openvzutilstest
/tests/qemuxmlnstest
/tests/shunloadtest
/update.log
Makefile
Makefile.in
TAGS
coverage
cscope.files
cscope.out
results.log
stamp-h
stamp-h.in
stamp-h1
!/gnulib/lib/Makefile.am
!/gnulib/tests/Makefile.am
!/m4/virt-*.m4
!/po/*.po
!/po/POTFILES.in
!/po/libvirt.pot
