*#*#
*.#*#
*.a
*.o
*.orig
*.rej
*~
.git
.git-module-status
.sc-start-sc_*
/GNUmakefile
/maint.mk
ABOUT-NLS
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
coverage
cscope.files
cscope.out
gnulib/
libtool
libvirt-*.tar.gz
libvirt.pc
libvirt.spec
ltconfig
ltmain.sh
mingw32-libvirt.spec
mkinstalldirs
results.log
stamp-h
stamp-h.in
stamp-h1
tests/*.log
tests/nwfilterxml2xmltest
update.log
