# gitdm config for libvirt
# ------------------------
#
# Generate statistic for eg. v4.6.0 by running
#
#   $ git log --date=rfc -p -M v4.5.0..v4.6.0 | gitdm
#
# gitdm can be obtained from git://git.lwn.net/gitdm.git


# Normalize situations where a single person uses multiple email addresses,
# there have been mistakes, and the like.

EmailAliases docs/gitdm/aliases

# Most companies are easy to account for: all we need to do is list name
# along with their domain name.

EmailMap docs/gitdm/companies/others

# A few companies, however, require special handling.

GroupMap docs/gitdm/companies/canonical Canonical
GroupMap docs/gitdm/companies/datto Datto
GroupMap docs/gitdm/companies/dreamhost DreamHost
GroupMap docs/gitdm/companies/ibm IBM
GroupMap docs/gitdm/companies/nec NEC
GroupMap docs/gitdm/companies/redhat Red Hat
GroupMap docs/gitdm/companies/suse SUSE
GroupMap docs/gitdm/companies/virtuozzo Virtuozzo

# Contributors from other Open Source communities and education.

GroupMap docs/gitdm/groups/opensource Contributors from Open Source communities
GroupMap docs/gitdm/groups/education Contributors from education

# Contributors that are not affiliated with any of the above.

GroupMap docs/gitdm/groups/unaffiliated Unaffiliated contributors
