lxc.rootfs.path = /var/lib/lxc/migrate_test/rootfs
lxc.uts.name = migrate_test
lxc.autodev=1

lxc.cgroup.blkio.weight = 500
lxc.cgroup.blkio.device_weight = 8:16	1000
lxc.cgroup.blkio.device_weight = 8:0    300
lxc.cgroup.blkio.throttle.read_bps_device = 8:16 1234
lxc.cgroup.blkio.throttle.write_bps_device = 8:16 5678
lxc.cgroup.blkio.throttle.read_iops_device = 8:16 4321
lxc.cgroup.blkio.throttle.write_iops_device = 8:16 8765
