# Template used to create this container: opensuse
# Template script checksum (SHA-1): 27307e0a95bd81b2c0bd82d6f87fdbe83be075ef

lxc.net.0.type = macvlan
lxc.net.0.flags = up
lxc.net.0.link = eth0
lxc.net.0.hwaddr = 02:00:15:8f:05:c1
lxc.net.0.macvlan.mode = vepa

#remove next line if host DNS configuration should not be available to container
lxc.rootfs.path = /var/lib/lxc/migrate_test/rootfs
lxc.uts.name = migrate_test
lxc.autodev=1
