lxc.net.0.type = phys
lxc.net.0.link = eth0
lxc.net.0.name = eth1
lxc.net.0.ipv4.address = 192.168.122.2/24
lxc.net.0.ipv4.gateway = 192.168.122.1
lxc.net.0.ipv6.address = 2003:db8:1:0:214:1234:fe0b:3596/64
lxc.net.0.ipv6.gateway = 2003:db8:1:0:214:1234:fe0b:3595

lxc.net.1.type = vlan
lxc.net.1.flags = up
lxc.net.1.link = eth0
lxc.net.1.hwaddr = 02:00:15:8f:05:c1
lxc.net.1.vlan.id = 2

lxc.net.2.type = macvlan
lxc.net.2.flags = up
lxc.net.2.link = eth0
lxc.net.2.hwaddr = 02:00:15:8f:05:c1
lxc.net.2.macvlan.mode = vepa

lxc.rootfs = /var/lib/lxc/migrate_test/rootfs
lxc.utsname = migrate_test
lxc.autodev=1
