lxc.net.0.type = phys
lxc.net.0.link = eth0
lxc.net.0.name = eth1
lxc.net.0.ipv4.address = 192.168.122.2/24
lxc.net.0.ipv4.gateway = 192.168.122.1
lxc.net.0.ipv6.address = 2003:db8:1:0:214:1234:fe0b:3596/64
lxc.net.0.ipv6.gateway = 2003:db8:1:0:214:1234:fe0b:3595

lxc.rootfs.path = /var/lib/lxc/migrate_test/rootfs
lxc.uts.name = migrate_test
lxc.autodev=1
