osx_instance:
  image: catalina-base

env:
  CI_REPOSITORY_URL: {{ CI_REPOSITORY_URL }}
  CI_COMMIT_REF_NAME: {{ CI_COMMIT_REF_NAME }}
  CI_COMMIT_SHA: {{ CI_COMMIT_SHA }}
  PATH: /usr/local/opt/gettext/bin:/usr/local/opt/ccache/libexec:/usr/local/opt/rpcgen/bin:$PATH
  PKG_CONFIG_PATH: /usr/local/opt/libxml2/lib/pkgconfig

macos_1015_task:
  install_script:
    - brew install
           autoconf
           automake
           ccache
           docutils
           glib
           gnutls
           libtool
           libxml2
           make
           pkg-config
           python
           rpcgen
           xz
           yajl
  clone_script:
    - git clone --depth 100 "$CI_REPOSITORY_URL" .
    - git fetch origin "$CI_COMMIT_REF_NAME"
    - git reset --hard "$CI_COMMIT_SHA"
  build_script:
    - mkdir build
    - cd build
    - ../autogen.sh --prefix=$(pwd)/install-root
    - gmake -j3
    - gmake -j3 install
    - gmake -j3 dist
