Makefile
Makefile.in
.deps
.libs
sexpr2xmltest
xml2sexprtest
virshtest
conftest
reconnect
xmconfigtest
xencapstest
qemuxml2xmltest
qemuxml2argvtest
nodedevxml2xmltest
nodeinfotest
statstest
qparamtest
*.gcda
*.gcno
*.exe
