*.exe
.deps
.libs
ssh
commandhelper
commandhelper.log
commandhelper.pid
commandtest
conftest
esxutilstest
eventtest
interfacexml2xmltest
networkxml2xmltest
nodedevxml2xmltest
nodeinfotest
object-locking
object-locking-files.txt
object-locking.cmi
object-locking.cmx
qemuargv2xmltest
qemuhelptest
qemuxml2argvtest
qemuxml2xmltest
qparamtest
reconnect
secaatest
seclabeltest
sexpr2xmltest
sockettest
statstest
storagepoolxml2xmltest
storagevolxml2xmltest
utiltest
virbuftest
virnetmessagetest
virnetsockettest
virnettlscontexttest
virshtest
virtimetest
vmx2xmltest
xencapstest
xmconfigtest
xml2sexprtest
xml2vmxtest
