Makefile
Makefile.in
.deps
.libs
sexpr2xmltest
xml2sexprtest
virshtest
conftest
reconnect
xmconfigtest
xencapstest
qemuxml2xmltest
qemuxml2argvtest
qemuargv2xmltest
nodedevxml2xmltest
nodeinfotest
statstest
qparamtest
seclabeltest
eventtest
*.gcda
*.gcno
*.exe
object-locking
object-locking.cmi
object-locking.cmx
object-locking-files.txt
