/* styles related to the page template (page.xsl) */
#nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    background: rgb(0, 95, 97);
    border-bottom: 3px solid rgb(60, 133, 124);
    width: 100%;
    display: table;
}

#home {
    background-image: url(../logos/logo-banner-light-256.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 100px;
    width: 269px;
    margin-left: 1em;
    text-indent: 100%; white-space: nowrap; overflow: hidden;
}

#home a {
    color:  rgb(0, 95, 97);
    height: 100px;
    width: 269px;
    display: block;
}

#jumplinks {
    display: table-cell;
    vertical-align: middle;
    font-size: 16pt;
    text-align: right;
}

#jumplinks ul {
    list-style: none;
}

#jumplinks li {
    display: inline;
    padding-left: 2em;
    font-weight: bold;
}

#jumplinks a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#jumplinks a:hover {
    color: rgb(255, 230, 0);
}

#search {
    display: table-cell;
    vertical-align: middle;
    width: 13em;
    text-align: right;
    padding: 1em;
}

#search input {
    border: 0px;
    height: 2em;
}

#search input[type=text] {
    background: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    width: 10em;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#search input[type=submit] {
    background: rgb(60, 133, 124);
    color: rgb(255, 255, 255);
    width: 3em;
    font-weight: bold;
}

#search input[type=submit]:active,
#search input[type=submit]:hover {
    color: rgb(255, 230, 0);
}

#body {
    border: 0px;
    left: 0px;
    margin: 0px;
    margin-top: 120px;
    margin-left: 1em;
    margin-right: 1em;
}

main,
.document {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-bottom: 1em;
    max-width: 95%;
    width: 70em;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
    text-decoration: inherit;
}

a.headerlink {
    text-decoration: none!important;
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink {
    visibility: visible;
}

br.clear {
    clear: both;
    border: 0px;
}

#footer {
    clear: both;
    border-top: 3px solid rgb(60, 133, 124);
    margin-top: 2em;
    padding: 1em;
    background: rgb(0, 95, 97);
    color: rgb(255, 255, 255);
}

#footer a {
    color: inherit;
    text-decoration: none;
}

#footer a:hover {
    color: rgb(255, 230, 0);
}

#conduct {
    float: right;
    text-align: right;
    font-size: smaller;
    margin-right: 3em;
}

#conduct a {
    text-decoration: underline;
}

#contact, #community, #contribute {
    float: left;
    padding: 0px;
    margin-left: 3em;
}

#footer h3 {
    margin:0px;
    font-size: 1em;
    color: rgb(60, 133, 124);
}

#footer ul {
    list-style: none;
    margin: 0px;
    font-size: smaller;
}

#advancedsearch {
    display: none;
    vertical-align: bottom;
    position: absolute;
    padding: 1em;
    padding-top: 0em;
    margin-top: 0em;
    top: 100px;
    right: 0px;
    width: 15em;
    text-align: left;
    color: white;
    background: rgb(0, 95, 97);
    border-left: 3px solid rgb(60, 133, 124);
    border-bottom: 3px solid rgb(60, 133, 124);
}

/* Use div.advancedsearch, not #advancedsearch because the
 * 'advancedsearch' class is set dynamically when javascript
 * loads. This ensures that the advancedsearch options are
 * not displayed when javascript is disabled.
*/
#search:hover div.advancedsearch {
    display: table;
}

#advancedsearch span {
    display: block;
}

#advancedsearch input[type=radio] {
    height: inherit;
    display: inline;
}

#advancedsearch label {
    display: inline;
}

/* Elements with id 'contents' contain the table of contents generated by docutils */
.contents li p {
    margin: 2px;
}

#contents {
    margin-top: 1em;
    margin-bottom: 1em;
    background: rgb(230, 230, 230);
    padding: 0.5em;
    padding-left: 0px;
    display: inline-block;
    border: 1px solid #999999;
}

#contents p.topic-title {
    display: none;
}
