body
    {
    margin: 0;
    padding: 0;
    color: #333333;
    font: 13px Verdana, Arial, Helvetica, sans;
    background: #898989;
    text-align: justify;
    }
a
    {
    color: #0D7520;
    }
a:hover
    {
    color: #a8a8a8;
    }

img
    {
    border: 0;
    }

#container
    {
    margin: 0 auto;
    width: 766px;
    position: relative;
    background: #fff;
    padding: 0 10px 0 10px;
    text-align: justify;
    }
* html #container
    {
    width: 766px;
    }

#pageHeader
    {
    position: absolute;
	background: url(libvirHeader.png) center no-repeat;
    top: 30px;
	height: 76px;
	width: 766px;
    }
#content h3
    {
	text-align: right;
	color: #a8a8a8;
    }
#content2 h1
    {
	text-align: right;
	color: #0d7520;
    }
#content h3
    {
	text-align: right;
	font-size:  24px;
    }
#content h3 .style1
    {
	color: #0d7520;
    }
#adjustments
    {
    padding-top: 15px;
    }
#container #adjustments .p1
    {
    font-size: 11px;
    height: 300px;
    background: url(libvirLogo.png) center no-repeat;
    margin: 0;
    width: 766px;
    }
#container #bottom .p1
    {
    font-size: 11px;
    height: 600px;
    margin: 0;
    width: 766px;
    }
#content2
    {
    margin: 100px 10px 0 160px;
    }
#content2 p
    {
    line-height: 150%;
    margin: 10px 0 10px 0;
    }
#content
    {
    margin: 0 10px 0 160px;
    }
#content p
    {
    line-height: 150%;
    margin: 10px 0 10px 0;
    }
.linkList
    {
    position: absolute;
    top: 320px;
    left: 10px;
    width: 140px;
    }
.llinks ul
    {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
    }
.linkList .llinks ul li
    {
    font-size: 13px;
    border-bottom: 1px solid #E6EEF0;
    display: block;
    padding: 8px 0;
    }
.llinks h3.links
    {
    background: #e6e6e6;
    color: #999999;
    font-size: 14px;
    height: 25px;
	padding: 10px 0 0 5px;
    margin: 15px 0 5px 5px;
    }
.linkList2
    {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 140px;
    }
.llinks2 ul
    {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
    }
.linkList2 .llinks2 ul li
    {
    font-size: 13px;
    border-bottom: 1px solid #E6EEF0;
    display: block;
    padding: 8px 0;
    }
.llinks2 h3.links2
    {
    background: #e6e6e6;
    color: #999999;
    font-size: 14px;
    height: 25px;
	padding: 10px 0 0 5px;
    margin: 15px 0 5px 5px;
    }

div.deprecated pre.programlisting
    {
    border-style:		double;
    border-color:		red;
    }

pre.programlisting
    {
    border-style:		double;
    background:		#F0F0F0;
    }
