Makefile
Makefile.in
.deps
.libs
*.lo
*.loT
*.la
*.exe
*.cov
libvirt_parthelper
libvirt_lxc
libvirt.def
libvirt.syms
libvirt_qemu.def
*.i
*.s
remote_protocol-structs-t
virt-aa-helper
libvirt_functions.stp
libvirt_probes.stp
probes.o
probes.h
